%ul#navigation.nav.nav-tabs
  %li#home.active
    %a{:href => "#"}
      = t('homes.index.home-heading')
  %li#portfolio
    %a{:href => "#"}
      = t('homes.index.portfolio-heading')
  %li#contactme
    %a{:href => "#"}
      = t('homes.index.contact-heading')