:javascript
  $(document).ready(function() {
      $("a[rel]").fancybox({
        padding: 0,

        helpers : {
            overlay : {
              opacity : 1
            }
        }
      });
  });

%article

  = render 'welcome'
  = render 'works'
  = render 'contacts'