-#= stylesheet_link_tag 'jquery.fancybox'
-#= javascript_include_tag 'jquery.fancybox.pack'

:javascript
  $(document).ready(function() {
    $(".img_gal").fancybox({
      padding: 0
    });
  });

#welcome
  .hero-unit
    %h1
      = t('homes.index.hello')
    %p
      = t('homes.index.main-text')
    %p
      = link_to "#{t('homes.index.our-works')}", portfolio_path, :id => "our-works", :class => "btn btn-primary btn-large"